body {
    height: 100%;
    width: 100%;
    margin-left: 25px
}

p {
    font-size: 30px;
}

button {
    width: 300px;
    height: 44px;
    border: 0;
    border-radius: 8px;
    background-color: #6B5DD5;
    color: white;
    font-weight: 600;
    font-size: 24px;
}

button:hover {
    background-color: #7A6DD9;
}
